<a href="https://colab.research.google.com/github/HemanthBodduboinagithub/ML--usecases-/blob/main/Loan_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
data = files.upload()

Saving bank_marketing.csv to bank_marketing (3).csv

In [ ]:
df = pd.read_csv("bank_marketing.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5581 entries, 0 to 5580
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5581 non-null   int64
 1   age         5581 non-null   int64
 2   job         5581 non-null   object
 3   marital     5581 non-null   object
 4   education   5581 non-null   object
 5   default     5581 non-null   object
 6   balance     5581 non-null   int64
 7   housing     5581 non-null   object
 8   loan        5581 non-null   object
 9   contact     5581 non-null   object
 10  day         5581 non-null   int64
 11  month       5581 non-null   object
 12  duration    5581 non-null   int64
 13  campaign    5581 non-null   int64
 14  pdays       5581 non-null   int64
 15  previous    5581 non-null   int64
 16  poutcome    5581 non-null   object
 17  deposit     5581 non-null   object
dtypes: int64(8), object(10)
memory usage: 785.0+ KB

In [ ]:
df.head()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0,41,services,married,unknown,no,88,yes,no,cellular,11,may,105,1,336,2,failure,no
1,1,56,technician,married,secondary,no,1938,no,yes,cellular,26,feb,229,1,192,4,success,yes
2,2,30,services,single,secondary,no,245,no,yes,cellular,8,jul,187,2,-1,0,unknown,no
3,3,34,management,single,tertiary,no,1396,yes,no,cellular,17,jul,630,1,-1,0,unknown,no
4,4,29,technician,single,secondary,no,-13,yes,no,cellular,14,may,512,3,-1,0,unknown,no

In [ ]:
df.isnull().sum()

Unnamed: 0    0
age           0
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
deposit       0
dtype: int64

In [ ]:
df.isnull()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5576,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5577,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5578,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5579,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5580,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5576    False
5577    False
5578    False
5579    False
5580    False
Length: 5581, dtype: bool

In [ ]:
df.duplicated().sum()

0

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, deposit]
Index: []

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'deposit'],
      dtype='object')

In [ ]:
df = df.set_index('Unnamed: 0')

In [ ]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5581 entries, 0 to 5580
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        5581 non-null   int64
 1   job        5581 non-null   object
 2   marital    5581 non-null   object
 3   education  5581 non-null   object
 4   default    5581 non-null   object
 5   balance    5581 non-null   int64
 6   housing    5581 non-null   object
 7   loan       5581 non-null   object
 8   contact    5581 non-null   object
 9   day        5581 non-null   int64
 10  month      5581 non-null   object
 11  duration   5581 non-null   int64
 12  campaign   5581 non-null   int64
 13  pdays      5581 non-null   int64
 14  previous   5581 non-null   int64
 15  poutcome   5581 non-null   object
 16  deposit    5581 non-null   object
dtypes: int64(7), object(10)
memory usage: 784.8+ KB

In [ ]:
df.isnull()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
Unnamed: 0,,,,,,,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5576,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5577,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5578,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5579,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5580,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.describe(include='all')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
count,5581.000000,5581,5581,5581,5581,5581.000000,5581,5581,5581,5581.000000,5581,5581.000000,5581.000000,5581.000000,5581.000000,5581,5581
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,management,married,secondary,no,NaN,no,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,1318,3134,2719,5497,NaN,2928,4863,4044,NaN,1407,NaN,NaN,NaN,NaN,4133,2959
mean,41.169683,NaN,NaN,NaN,NaN,1514.736786,NaN,NaN,NaN,15.693603,NaN,368.175954,2.507436,52.534313,0.849669,NaN,NaN
std,11.926044,NaN,NaN,NaN,NaN,3266.534626,NaN,NaN,NaN,8.461086,NaN,344.131053,2.770717,110.754995,2.311684,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-3058.000000,NaN,NaN,NaN,1.000000,NaN,3.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,32.000000,NaN,NaN,NaN,NaN,110.000000,NaN,NaN,NaN,8.000000,NaN,137.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,542.000000,NaN,NaN,NaN,15.000000,NaN,254.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,49.000000,NaN,NaN,NaN,NaN,1747.000000,NaN,NaN,NaN,22.000000,NaN,485.000000,3.000000,57.000000,1.000000,NaN,NaN
max,93.000000,NaN,NaN,NaN,NaN,81204.000000,NaN,NaN,NaN,31.000000,NaN,3284.000000,63.000000,842.000000,41.000000,NaN,NaN